*{
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
    margin: 100px ;
    font-size: large;
    margin-bottom: -80px;
}

#clock{
    background-color: rgb(255, 166, 0);
    color: white;
    font-size: xx-large;
    padding: 20px;
    border-radius: 10px;
    margin:100px 200px;
    

}